@model DynamicForm.Models.TemplateFormModel

@{
    ViewBag.Title = "Edit Form Controls";
}
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<form name="editform" asp-controller="Forms" asp-action="SaveForm" method="post"
      data-ajax="true" data-ajax-method="post" data-ajax-complete="updatedForm" enctype="multipart/form-data" autocomplete="off">

    <!-- Modal -->
    <div class="modal-dialog" id="add-form-model">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header bg-warning">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3>Edit Form </h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="required" for="FormName">Name</label>
                        <input type="text" id="FormName" class="form-control" asp-for="Name" />
                        <span class="text-danger">
                            @Html.ValidationMessageFor(model => model.Name)
                        </span>
                        @*<span asp-validation-for="Name" class="text-danger"></span>*@
                    </div>
                    <div class="form-group">
                        <label class="required" for="FormDescription">Description</label>
                        <input type="text" id="FormDescription" class="form-control" asp-for="Description" />
                        <span class="text-danger">
                            @Html.ValidationMessageFor(model => model.Description)
                        </span>
                        @*<span asp-validation-for="Description" class="text-danger"></span>*@
                    </div>
                    <div class="form-group">
                        <label class="required" for="FormOrdinal">Ordinal</label>
                        <input type="number" id="FormOrdinal" class="form-control" asp-for="Ordinal" />
                        <span class="text-danger">
                            @Html.ValidationMessageFor(model => model.Ordinal)
                        </span>
                        @*<span asp-validation-for="Ordinal" class="text-danger"></span>*@
                    </div>
                    <div class="form-group">
                        <label class="required" for="FormOrdinal">Status</label>
                        <div class="form-group">
                            <label class="checkbox-inline">
                                @if (Model.Status == 1)
                                {
                                    <input id="radio-switch-pending" class="form-check-input" type="radio" asp-for="Status" value="1" checked>
                                }
                                else
                                {
                                    <input id="radio-switch-pending" class="form-check-input" type="radio" asp-for="Status" value="1">
                                }
                                <label class="form-check-label" for="radio-switch-pending">Pending</label>
                            </label>
                            <label class="checkbox-inline">
                                @if (Model.Status == 2)
                                {
                                    <input id="radio-switch-published" class="form-check-input" type="radio" asp-for="Status" value="2" checked>
                                }
                                else
                                {
                                    <input id="radio-switch-published" class="form-check-input" type="radio" asp-for="Status" value="2">
                                }
                                <label class="form-check-label" for="radio-switch-published">Publish</label>
                            </label>
                            <label class="checkbox-inline">
                                @if (Model.Status == 3)
                                {
                                    <input id="radio-switch-unpublished" class="form-check-input" type="radio" asp-for="Status" value="3" checked>
                                }
                                else
                                {
                                    <input id="radio-switch-unpublished" class="form-check-input" type="radio" asp-for="Status" value="3">
                                }
                                <label class="form-check-label" for="radio-switch-unpublished">Unpublish</label>
                            </label>
                            <label class="checkbox-inline">
                                @if (Model.Status == 4)
                                {
                                    <input id="radio-switch-deleted" class="form-check-input" type="radio" asp-for="Status" value="4" checked>
                                }
                                else
                                {
                                    <input id="radio-switch-deleted" class="form-check-input" type="radio" asp-for="Status" value="4" > 
                                }
                                <label class="form-check-label" for="radio-switch-deleted">Delete</label>
                            </label>
                        </div>
                    </div>

                    <input type="hidden" asp-for="Id" name="Id" />
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" id="btnUpdateFormClose" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove"></span>Close</button>
                    <button class="btn btn-success"> <span class="glyphicon glyphicon-floppy-saved"></span> Save changes</button>
                </div>
            </div>
        </div>
    </div>
</form>
