@model Core.Services.Form.Requests.FormRequest

@{
    ViewBag.Title = "Form";
}
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/css/jquery.dataTables.min.css"
      integrity="sha512-1k7mWiTNoyx2XtmI96o+hdjP8nn0f3Z2N4oF/9ZZRgijyV4omsKOXEnqL1gKQNPy2MTSP9rIEWGcH/CInulptA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer" />
<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.12/dist/sweetalert2.min.css" rel="stylesheet" />
@*<link href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" rel="stylesheet" />*@
<style>
    .modal {
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
</style>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Home - Form</h2>
                <br />
                <div input-group>
                    @*  <input type="text" placeholder="Name">&nbsp;&nbsp;
                    <input type="text" placeholder="Description">&nbsp;&nbsp;
                    <input type="number" placeholder="Ordinal" />&nbsp;&nbsp;
                    <select name="Status" id="selectedstatus" style="padding:3px;">
                    &nbsp;&nbsp;
                    <option value="Confirmed">Active</option>
                    <option value="Cancelled">Inactive</option>
                    </select>
                    <button class="btn btn-group-sm btn-info">Search</button>*@
                    <div class="pull-right">
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#add-form-model">
                            <span class="glyphicon glyphicon-plus"></span> Create
                        </button>
                    </div>
                </div>
                <br />

                <div class="clearfix"></div>
            </div>
            <br />
            <br />
            <div class="x_content">
                <div id="wait" class="loader" style="display:none;width:100px;height:100px;position:absolute;top:50%;left:50%;padding:2px;z-index:100000"></div>
                <table class="table table-striped table-bordered table-responsive" id="tbForm" style="width:100%">
                    <thead>
                        <tr class="bg-secondary">
                            <th style="min-width:30px">Name</th>
                            <th style="min-width:30px">Description</th>
                            <th style="min-width:30px">Ordinal</th>
                            <th style="min-width:30px">Action</th>
                            @*  <th style="min-width:30px">Actions</th>
                            <th style="min-width:30px">Fields</th>
                            <th style="min-width:30px">Apply</th>
                            <th style="min-width:30px">Submissions</th>*@
                        </tr>
                    </thead>
                    <tbody id="tdForm"></tbody>
                </table>
            </div>
        </div>

        <form name="createform" asp-controller="Forms" asp-action="SaveForm" method="post"
              data-ajax="true" data-ajax-method="post" data-ajax-complete="completedForm" enctype="multipart/form-data" autocomplete="off">

            <!-- Modal -->
            <div class="modal fade" id="add-form-model" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false" tabindex="-1">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header bg-warning">
                            <h4 class="modal-title">Template Form</h4>
                            <button type="button" class="close" data-dismiss="modal" id="modelclose">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="required" for="FormName">Name</label>
                                <input type="text" id="FormName" class="form-control" asp-for="Name" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="required" for="FormDescription">Description</label>
                                <input type="text" id="FormDescription" class="form-control" asp-for="Description" />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="required" for="FormOrdinal">Ordinal</label>
                                <input type="number" id="FormOrdinal" class="form-control" asp-for="Ordinal" />
                                <span asp-validation-for="Ordinal" class="text-danger"></span>
                            </div>
                            @* <div class="form-group">
                            <label for="FormStatus" class="required">Status</label>
                            <select id="FormStatus" class="form-control" asp-for="Test">
                            <option value="AA">Active</option>
                            <option value="dd">Inactive</option>
                            <option value="1">ddd</option>
                            </select>
                            </div>*@
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-success " type="submit"><span class="glyphicon glyphicon-floppy-saved"></span> Create</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal" id="btnFormClose"> <span class="glyphicon glyphicon-remove"></span> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section scripts
    {
    <!-- Jquery js -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <!-- Data tables js -->
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.buttons.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.rowReorder.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/datatables/js/responsive.bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            bind();

            $('#btnFormClose').click(function () {
                clearFormCreate();
            });
        });

        completedForm = function (xhr) {
            var rtn = JSON.parse(xhr.responseText);
            if (rtn.error == false) {
                Swal.fire({
                    title: 'Template Form',
                    text: rtn.message,
                    type: 'success',
                    allowOutsideClick: false
                }).then(function () {
                    $('#add-form-model').hide();
                    oTable = $('#tbForm').DataTable();
                    oTable.draw();
                });
                $('#btnFormClose').click();
                clearFormCreate();
            }
            else {
                Swal.fire({
                    icon: 'error',
                    title: 'Template Form',
                    text: 'Oops!! Something Went Wrong!',
                    type: 'error',
                    allowOutsideClick: false
                });
            }
        };

        function clearFormCreate() {
            $('.field-validation-error').empty();
            var frm = document.getElementsByName('createform')[0];
            frm.reset();
        }

        function bind() {
            $("#tbForm").DataTable({
                "processing": true, // for show progress bar
                "serverSide": true,
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "ajax": {
                    "url": '@Url.Action("GetAllForms", "Forms")',
                    "type": "POST",
                    headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                    "datatype": "json"
                },
                "columnDefs": [{
                    "targets": '_all',
                    "defaultContent": ""
                }],
                "columns": [
                    { "data": "name", "name": "Name", "autoWidth": true },
                    { "data": "description", "name": "Description", "autoWidth": true },
                    { "data": "ordinal", "name": "Ordinal", "autoWidth": true },
                    {
                        'bSortable': false, "autoWidth": true,
                        "render": function (data, type, row) {
                            return '<a href="@Url.Action("Index", "Fields")?id=' + row.id + '">Controls<a/>'
                        }
                    }
                ]

            });

        }

        function validateCreateForm() {
            createFlag = false;
            var cFormName = $('#FormName').val();

            if (cFormName == null || cFormName == "" || cFormName == undefined) {
                $('#lblFormName').show();
                createFlag = true;
            } else {
                $('#lblFormName').hide();
            }

            var cFormDescription = $('#cFormDescription').val();

            if (cFormDescription == null || cFormDescription == "" || cFormDescription == undefined) {
                $('#lblcFormDescription').show();
                createFlag = true;
            } else {
                $('#lblcFormDescription').hide();
            }

            var FormOrdinal = $('#FormOrdinal').val();

            if (FormOrdinal == null || FormOrdinal == "" || FormOrdinal == undefined) {
                $('#lblFormOrdinal').show();
                createFlag = true;
            } else {
                $('#lblFormOrdinal').hide();
            }

            return createFlag;
        }

    </script>

}