html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.page-title {
    border-bottom: 1px solid #CCC;
    padding-bottom: 8px;
    margin-bottom: 8px;
}

.cic-logo {
    max-height: 40px;
}

.navbar {
    border-bottom: 1px solid #ccc;
}

.navbar-brand {
    padding: 5px 15px !important;
}

.spinner {
    display: none;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 2px;
    z-index: 100000;
    background-color: #CCC;
}