@model DynamicForm.Models.TemplateFieldsModel

@{
    ViewBag.Title = "Edit Form Controls";
}

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
@*<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>*@


<form id="edit_form" name="editfield" asp-controller="Fields" asp-action="SaveField" method="post" novalidate
      data-ajax="true" data-ajax-method="post" data-ajax-complete="updatedField" enctype="multipart/form-data" autocomplete="off">
    <div class="modal-dialog" id="add-field-model">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>Edit Form Control</h3>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="required" for="FieldName">Name</label>
                    <input type="text" id="FieldName" class="form-control" asp-for="Name" />
                </div>
                <div class="form-group">
                    <label for="FieldDataType">Control Type</label>
                    <select name="ControlId" class="form-control" asp-for="ControlId" asp-items="@ViewBag.ControlTypes"></select>
                </div>
                <div class="form-group">
                    <label class="required" for="DefaultValue">Default Value</label>
                    <input type="text" id="DefaultValue" class="form-control" name="DefaultValue" asp-for="DefaultValue" />
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" asp-for="IsRequired" />
                    <label class="form-check-label" for="IsRequired"> Required</label>
                    <span class="text-danger">
                        @Html.ValidationMessageFor(model => model.IsRequired)
                    </span>
                </div>
                <div class="form-group">
                    <label class="required" for="RequiredMessage">Required Message</label>
                    <input type="text" class="form-control" asp-for="RequiredMessage" novalidate />
                </div>
                <div class="form-group">
                    <label class="required" for="RegExValue">RegEx Value</label>
                    <input type="text" class="form-control" asp-for="RegExValue" novalidate />
                </div>
                <div class="form-group">
                    <label class="required" for="RegExMessage">RegEx Message</label>
                    <input type="text" class="form-control" asp-for="RegExMessage" />
                    <span class="text-danger">
                        @Html.ValidationMessageFor(model => model.RegExMessage)
                    </span>
                    @*<span asp-validation-for="RegExMessage" class="text-danger"></span>*@
                </div>
                <div class="form-group">
                    <label class="required" for="FormOrdinal">Status</label>
                    <div class="form-group">
                        <label class="checkbox-inline">
                            @if (Model.Status == 1)
                            {
                                <input id="radio-switch-active" class="form-check-input" type="radio" asp-for="Status" value="1" checked>
                            }
                            else
                            {
                                <input id="radio-switch-active" class="form-check-input" type="radio" asp-for="Status" value="1">
                            }
                            <label class="form-check-label" for="radio-switch-active">Active</label>
                        </label>
                        <label class="checkbox-inline">
                            @if (Model.Status == 2)
                            {
                                <input id="radio-switch-incomplete" class="form-check-input" type="radio" asp-for="Status" value="2" checked>
                            }
                            else
                            {
                                <input id="radio-switch-incomplete" class="form-check-input" type="radio" asp-for="Status" value="2">
                            }
                            <label class="form-check-label" for="radio-switch-incomplete">Incomplete</label>
                        </label>
                        <label class="checkbox-inline">
                            @if (Model.Status == 3)
                            {
                                <input id="radio-switch-withheld" class="form-check-input" type="radio" asp-for="Status" value="3" checked>
                            }
                            else
                            {
                                <input id="radio-switch-withheld" class="form-check-input" type="radio" asp-for="Status" value="3">
                            }
                            <label class="form-check-label" for="radio-switch-withheld">Withheld</label>
                        </label>
                        <label class="checkbox-inline">
                            @if (Model.Status == 4)
                            {
                                <input id="radio-switch-deleted" class="form-check-input" type="radio" asp-for="Status" value="4" checked>
                            }
                            else
                            {
                                <input id="radio-switch-deleted" class="form-check-input" type="radio" asp-for="Status" value="4">
                            }
                            <label class="form-check-label" for="radio-switch-deleted">Deleted</label>
                        </label>
                    </div>
                </div>
                <input type="hidden" asp-for="Id" name="Id" />
                <input type="hidden" asp-for="TemplateFormId" name="TemplateFormId" />
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" id="btnUpdateFieldClose" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove"></span>Close</button>
                <button class="btn btn-success"><span class="glyphicon glyphicon-floppy-saved"></span> Save changes</button>
            </div>
        </div>
    </div>
</form>


<script type="text/javascript">
    $(document).ready(function () {
        $('#edit_form').validate({
            errorClass: 'error',
            rules: {
                'Name': {
                    required: true
                },
                'DefaultValue': {
                    required: true
                }
            },
            messages: {
                'Name': {
                    required: 'FieldName is required'
                },
                'DefaultValue': {
                    required: 'DefaultValue is required'
                }
            },
            highlight: function (element) {
                $(element).children().addClass('error')
            },
            unhighlight: function (element) {
                $(element).children().removeClass('error')
            }
        });
    });
</script>