@using DynamicForm.Filters;
@{
    ViewBag.Title = "Home";
    var dataString = CustomQueryStringHelper.EncryptString("", "Index", "DynamicForm", new { id = 84 });

}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
     <a href='@dataString'>Clcik</a>
</div>
